@font-face {
  font-family: "Symbols Nerd Font";
  src: url("@azurity/pure-nerd-font/PureNerdFont.woff2") format("woff2");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
  unicode-range:
    U+23FB-23FE, U+2500-259F, U+2630, U+2665, U+26A1, U+276C-2771, U+2B58, U+E000-E00A, U+E0A0-E0A3,
    U+E0B0-E0D7, U+E200-E2A9, U+E300-E3E3, U+E5FA-E6B8, U+E700-E8EF, U+EA60-EAC7, U+EAC9,
    U+EACC-EB09, U+EB0B-EB4E, U+EB50-EC1E, U+ED00-EFCE, U+F000-F533, U+F0001-F1AF0;
}
